*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar */

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 90px;
    padding: 15px 0;
    background-color: transparent;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 0px 0;
    
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    
}
.navbar .menu li a{
    display: block;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
    text-decoration: none;
}

.navbar .menu li a:hover{
    color: grey;
}

/* menu bar */
.menu-btn{
    color: #FFFFFF;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section */

.home{
    display: flex;
    background: #131313 no-repeat center;
    height: 100vh;
    color: #FFFFFF;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    
}

.home .max-width{
    margin: auto 0 auto 40px;

}

.home .home-content .text1{
    display: flex;
    font-size: 115px;
    margin-left: 15%;
    /* margin-top: -90px; */
}
.home .home-content .text2{
    display: flex;
    font-size: 50px; 
    font-weight: 300;
    margin-left: 45px;
}


/* about section */

section{
    padding: 100px 0;
}

.about{
     display: flex;
    background: #535252 no-repeat center;
    height: 100vh;
    color: #FFFFFF;
    min-height: 500px; 
    justify-content: center;
    align-items: center; 

}

.about .title{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    /* margin-bottom: 60px; */
    padding-bottom: 20px;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
}

.about .intro{
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
}
/* .about .title:before{
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    background-color: ;
} */

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
    /* padding-left: 100px; */
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    margin-left: 200px;
   
    
}

.about .about-content .right{
    width: 45%;
    margin-right: 60px;
    margin-top: -100px;
    height: 100px;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    word-break: break-all;
    font-size: 20px;
    
}

.experience{
    display: flex;
   background: #9e9898 no-repeat center;
   height: 100vh;
   color: #ffffff;
   min-height: 500px; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.experience .title{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    /* margin-bottom: 60px; */
    padding-bottom: 20px;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
    
}

.experience .work-experience{
    font-size: 35px; 
    font-family: 'Roboto', sans-serif;
}

.experience .education{
    font-size: 35px; 
    font-family: 'Roboto', sans-serif;
}

.experience .intro{
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
}

.experience .experience-content{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;

}

.experience .experience-content-left{
    font-size: 25px;
    display: flex;
    justify-content: left;
    align-items: flex-start;

}
.experience .experience-content-right{
    font-size: 20px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    font-weight: 300;
}


.project{
    display: flex;
    background: #746c6c no-repeat center;
    height: 100vh;
    color: #FFFFFF;
    min-height: 500px; 
    justify-content: center;
    align-items: center; 
}

.project .title{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    /* margin-bottom: 60px; */
    padding-bottom: 20px;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
}

.project .project-content{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
}
.project .project-column{
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 30px;
}
.project .project-column img{
    width: 500px;
    height: 300px;
}

.project .project-column a{
    display: flex;
    position: absolute;
    margin-top: 22%;
    text-decoration: none;
   color: #FFFFFF;
   font-size: 20px;
}

.contact{
    display: flex;
   background: #c7c3c3 no-repeat center;
   height: 100vh;
   color: #FFFFFF;
   min-height: 500px; 
   justify-content: center;
   align-items: center; 

}

.contact .title{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    /* margin-bottom: 60px; */
    padding-bottom: 20px;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
}

.contact .intro{
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
}

.contact .contact-content{
  display: flex;
  padding: 0%;
  margin: 0%;
  border: none;
  justify-content: start !important;
}

input{
    border: 0;
    outline: none;
    height: 30px;
    text-indent: 10px;
}

textarea{
    border: none;
    outline: none;
    height: 70px;
    text-indent: 10px;
    padding-top: 10px;
}
.contact .form-group{
    width: 100%;
    border: transparent;
    display: flex;
    flex-direction: column;
    padding: 0% 0% 2% 0%;
    margin: 0%;
    text-decoration: none;

}

.contact .submit-group input{
    width: 700px;
    height: 50px;
    margin-top: 30px;
    padding: 0%;
}

input[value="SEND MESSAGE"]{
    color: #9e9898;
    font-size: 15px;
    font-weight: 700;
}

@media (max-width: 384px){
    .about .about-content .right .text{
        font-size: 25px;
        font-weight: 600;
      margin-top: -20px;
    }

    .about .about-content .right p{
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
        word-break: break-all;
        font-size: 15px;
        
    }
    .experience .work-experience{
        margin-bottom: 20px; 
        font-family: 'Roboto', sans-serif;
        margin-top: -35px;
    }

.experience .experience-content{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
}
    .experience .experience-content-left{
        font-size: 20px;
        display: flex;
        justify-content: left;
        align-items: flex-start;
    
    }
    .experience .experience-content-right{
        font-size: 15px;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-items: flex-start;
        font-weight: 300;
    }
    .project .project-column a{
        display: flex;
        position: absolute;
        margin-top: 45%;
        
    }



}
    


@media(max-width: 500px){

    .home .home-content .text1{
        display: flex;
        font-size: 50px;
        justify-content: flex-start;
        align-items: flex-start;
       
    }
    .home .home-content .text2{
        display: flex;
        font-size: 27px; 
        justify-content: flex-start;
        align-items: flex-start;
    }

    .experience .experience-content-left{
        font-size: 14px;
        display: flex;
        justify-content: left;
        align-items: flex-start;

    }
    .experience .experience-content-right{
        font-size: 12px;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-items: flex-start;
        font-weight: 300;
    }
    .project .project-column{
        display: flex;
        justify-content: left;
        align-items: baseline;
       margin: auto;
    }

    .project .project-column img{
        width: 300px;
        height: 200px;
    }
    
    .project .project-column a{
        display: flex;
        position: absolute;
        margin-top: 60%;
        text-decoration: none;
       color: #FFFFFF;
       font-size: 20px;
    }
  

}


@media(max-width: 690px){

    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text1{
        display: flex;
        font-size: 60px;
        justify-content: flex-start;
        align-items: flex-start;
       
    }
    .home .home-content .text2{
        display: flex;
        font-size: 30px; 
        justify-content: flex-start;
        align-items: flex-start;
    }
    .experience .experience-content-left{
        font-size: 14px;
        display: flex;
        justify-content: left;
        align-items: flex-start;

    }
    .experience .experience-content-right{
        font-size: 12px;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-items: flex-start;
        font-weight: 300;
    }



}

.icons{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    gap: 10%;
}
/* responsive media */
@media(max-width: 1300px){
    .home .max-width{
        margin-left: 0px;

    }
    
}

@media(max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;

        
    }
}

@media(max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}


@media(max-width: 947px){
    
    .max-width{
        padding: 0 50px;
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }
    
    .navbar .menu{
        position: fixed;
        background: #111;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;

    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }


    .home .home-content .text1{
        display: flex;
        font-size: 75px;
        justify-content: flex-start;
        align-items: flex-start;
       
    }
    .home .home-content .text2{
        display: flex;
        font-size: 30px; 
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 55px;
    }

    .icons{
        display: flex;
        justify-content: center;
        margin-top: 35px;
        gap: 10%;
    }

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
        width: 45%;
            /* padding-left: 100px; */
    
    }

    .about .about-content .left img{
        padding: 0%;
        margin: 0%;
        width: 140px;
        height: 140px;
    }

    .about .about-content .right{
        margin-top: 10px;
        margin-left: 70px;
        flex: 100%;
    }

    .max-width{
        max-width: 800px;
    }



    .experience .experience-content .column{
        width: 100%;
    }

    .project .project-column{
        display: flex;
        justify-content: left;
        align-items: baseline;
       margin: auto;
    }

    /* .project .project-column img{
        width: 400px;
        height: 200px;
    } */
    
    .project .project-column a{
        display: flex;
        position: absolute;
        margin-top: 200px;

      
    }

    .contact form{
        margin: auto;
    }
    
    .contact .contact-content .form-group{
        width: 300px;
        /* border: transparent;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0%;
        text-decoration: none; */
         /* display: flex;
        width: 300px;
        margin: auto;  */
        /* width: max-content; */
        display: flex;
       margin: auto;
       margin-left: auto;

    }

   .contact .contact-content .submit-group input{
        width: 300px;
   }
}